.App {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1497250681960-ef046c08a56e");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
